# Function dependencies, for example:
# package>=version
pandas>=1.0.5
numpy==1.18.5
pandas_gbq>=0.11.0
pydata_google_auth>=1.1.0
datetime>=4.1.1
PyMySQL==0.10.1
requests==2.23.0
requests-oauthlib==1.3.0
SQLAlchemy==1.3.20
jsonschema==2.6.0
google-cloud-bigquery==2.4.0
google-cloud-bigquery-storage==2.1.0
fastavro==1.2.0
